<!-- <app-modal *ngIf="modal_open"></app-modal> -->
<div class="modal-background" *ngIf="modal_open" (click)="close_modal()">
	<div class="modal">
		<div class="modal-content">
			<div class="icon">
				<img src="../assets/modal_img.svg">
			</div>
			<div class="modal-heading">Great Job!</div>
			<div class="modal-description">
				Your configurations have been updated successfully.
			</div>
		</div>
	</div>
</div>
<div class="notification">
  <div class="notification-icon">
    <img src="../assets/warninig.svg" alt="notification-icon">
  </div>
  <div class="notifcation-text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
    Velit officia consequat duis enim velit mollit.
  </div>
</div>

<header>
  <nav class="nav-bar">
    <i class="menu-icon" (click)="show()" style="cursor: pointer;">
      <img src="../assets/menu.svg" alt="Menu_Icon">
    </i>
    <div class="logo">
      <img src="../assets/logo.svg" alt="logo">
      <img src="../assets/LOGOIPSUM.svg" alt="Logo" >
    </div>
    <i class="logout">
      <a href="#">
        <img src="../assets/logout.svg" alt="Logout_Icon">
      </a>
    </i>
    <ul>
      <li><a href="#">Dashboard</a></li>
      <li><a class="active" href="#">Account</a></li>
      <li><a href="#">Help</a></li>
      <li class="not-visible-on-small-screen"><a href="#">Logout</a></li>
    </ul>
    <div class="md-overlay"></div>
  </nav>
</header>
<div class="sidebar">

</div>
<div class="account-container">
  <div class="photo">
    <img src="../assets/Image.png" alt="Profile Pic">
  </div>
  <div class="account-details">
    <div class="heading">my account</div>
    <div class="input-group full_name">
      <input type="text" name="full_name" id="full_name" value="John Doe" required>
      <label for="full_name">Name</label>
    </div>
    <div class="input-group mobile_number">
      <input type="number" name="mobile_number" id="mobile_number" required>
      <label for="mobile_number">Mobile</label>
    </div>
    <div class="input-group email">
      <input type="email" name="email" id="email" required>
      <label for="email">Email</label>
    </div>
  </div>
  <div class="separator"></div>
</div>
<div class="configuration-container">
  <div class="heading">Select Configuration</div>
  <div class="configuration-card">
    <div class="checkbox">
      <input type="radio" name="config">
      <span class="checkbox-element">
        <img src="../assets/radio_button.svg">
      </span>
    </div>
    <div class="config-details">
      <div class="config-heading">
        Manual Configuration
      </div>
      <div class="config-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
      </div>
    </div>
  </div>

  <div class="configuration-card">
    <div class="checkbox no-checkbox">
      <input type="radio" name="config">
      <span class="checkbox-element">
        <img src="../assets/radio_button.svg">
      </span>
    </div>
    <div class="config-details">
      <div class="config-heading no-bold-heading">
        Services Access
      </div>
      <div class="config-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Proin sed massa leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Praesent eu varius felis. Integer posuere urna ut mi porta, vel fringilla dolor convallis. 
        Sed laoreet sodales sapien vel vestibulum. Nulla dictum eros ut efficitur porttitor. 
        Mauris dignissim, lectus sit amet euismod pretium, ex purus condimentum erat, eu feugiat nisi 
        ipsum ac eros. 
      </div>
    </div>
  </div>

  <div class="configuration-card">
    <div class="checkbox">
      <input type="radio" name="config">
      <span class="checkbox-element">
        <img src="../assets/radio_button.svg">
      </span>
    </div>
    <div class="config-details">
      <div class="config-heading">
        Semi-auto Configuration
      </div>
      <div class="config-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
      </div>
    </div>
  </div>

  <div class="configuration-card">
    <div class="checkbox">
      <input type="radio" name="config">
      <span class="checkbox-element">
        <img src="../assets/radio_button.svg">
      </span>
    </div>
    <div class="config-details">
      <div class="config-heading">
        Automatic Configuration
      </div>
      <div class="config-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
      </div>
    </div>
  </div>

  <div class="configuration-card">
    <div class="action-btns">
      <button (click)="open_modal()">
        <span class="icon">
          <img src="../assets/update_icon.svg" alt="icon">
        </span>
        Update configuration
      </button>
      <button class="outline">
        <span class="icon">
          <img src="../assets/cancel_icon.svg" alt="icon">
        </span>
        cancel
      </button>
    </div>
  </div>
</div>

