$background-color:#E5E5E5;
$navbar-background-color:#5C524D;
$text-color:#212121;
$button-background:#FC732F;
$button-text-color : #f1f1f1;
$active-border-botoom:10px;
$active-base-padding-bottom:40px;